<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MagaNets - Teste FrontEnd</title>
  </head>
  <body class="<%= htmlWebpackPlugin.options.page %>">
    <header>
      <div class="header__title">
        <a href="<%= htmlWebpackPlugin.options.home %>">
          <h1>MagaNets</h1>
        </a>
      </div>
      <div class="header__content">
        <div class="header__menu">
          <div class="header__menu__item">
            <img src="/assets/localizer.svg" alt="" />
            <span>Cidade: São Paulo</span>
          </div>
          <div class="header__menu__item">
            <img src="/assets/localizer.svg" alt="" />
            <span>Central de atendimento</span>
          </div>
          <div class="header__menu__item">
            <img src="/assets/localizer.svg" alt="" />
            <a href="<%= htmlWebpackPlugin.options.link %>">
              <span>Lista de desejos</span>
            </a>
          </div>
        </div>
        <div class="header__content__search">
          <input type="text" name="search" placeholder="Busca" />
        </div>
      </div>
    </header>

    <h1><%= htmlWebpackPlugin.options.title %></h1>
    <main></main>
  </body>
</html>
