@import "./styles/normalize.css";

// grid definitions
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

/**
 * @mixin responsive
 * @param size-breakpoint { xs | sm | md | lg | xl | xxl }
 *
 * @include responsive(md) { .class{ ... } }
 */
@mixin responsive($size-breakpoint: none) {
  $max-width: map-get($grid-breakpoints, $size-breakpoint);
  @media screen and (max-width: #{$max-width}) {
    @content;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background: #620094;
  display: flex;
  @include responsive(sm) {
    flex-direction: column;
  }
  .header__title {
    display: flex;
    flex: 1;
    padding: 15px;
    @include responsive(sm) {
      justify-content: center;
    }
    h1 {
      color: white;
      font-size: 1.2rem;
      margin: 0;
    }
  }

  .header__content {
    display: flex;
    flex-direction: column;
    flex: 4;
    color: white;
    font-size: 0.8rem;
    @include responsive(sm) {
      flex: 1;
    }
    .header__menu {
      display: flex;
      flex: 1;
      @include responsive(sm) {
        flex-direction: column;
      }
      &__item {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 15px;
        img {
          width: 100%;
          max-width: 15px;
          margin-right: 10px;
        }
      }
    }
    &__search {
      display: flex;
      flex: 1;
      padding: 0px 15px 15px 15px;
      position: relative;
      &::after {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 6px;
        left: 19px;
        background: url(assets/search.png);
        background-size: 15px;
        background-repeat: no-repeat;
      }
      input {
        width: 100%;
        height: 20px;
        padding: 5px 5px 5px 25px;
        color: rgb(92, 92, 92);
        border-radius: 4px;
        border: none;
        &:focus {
          outline: none;
        }
      }
    }
  }
}

header + h1 {
  padding-left: 15px;
  font-size: 1.2rem;
}

.square {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
}
.align__center {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
main {
  padding: 0 0 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .card {
    border: 1px solid #d8d8d8;
    box-shadow: 0px 0px 12px rgba(100, 100, 100, 0.7);
    border-radius: 4px;
    height: 340px;
    margin: 0 18px 50px;
    position: relative;
    min-width: 215px;
    max-width: 220px;
    width: 20%;
    &__icon--heart {
      cursor: pointer;
      margin: -2px 0 0 -2px;
      @extend .square;
      left: 0;
      img:first-child {
        width: 50px;
        position: absolute;
      }
      img:last-child {
        width: 30px;
        padding: 7px;
        position: absolute;
      }
    }
    &__icon--closed {
      cursor: pointer;
      @extend .square;
      @extend .align__center;
      right: 0;
      font-size: 1rem;
      border-radius: 50%;
      border: 2px solid;
      width: 20px;
      height: 18px;
      margin: 4px;
      padding: 2px 2px 3px;
      font-weight: bold;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    &__image {
      display: flex;
      flex: 3;
      overflow: hidden;
    }
    &__title {
      flex: none;
      line-height: 2rem;
      white-space: nowrap;
      overflow: hidden;
      max-width: 280px;
      text-overflow: ellipsis;
      padding: 0 10px;
      text-align: center;
    }
    &__price {
      @extend .align__center;
      flex: 2;
      color: rgb(230, 230, 16);
    }
  }
}
